<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiwei.ywt.sys.menu.dao.SysMenuMapper">
    <!--增加系统菜单-->
    <insert id="insert" parameterType="com.yiwei.ywt.sys.menu.model.SysMenu">
        INSERT
        INTO
        T_SYS_MENU(
            MENU_NAME,MENU_CODE,MENU_ICON,MENU_URL,REQUEST_URI,MENU_LEVEL,SORT_INDEX,PARENT_ID,MODULE_ID,SYSTEM_ID,
        ENABLED,DESCRIPTION,CREATE_TIME,LAST_UPDATE_TIME,DEL_FLAG
        )
        VALUES (
          #{menuName,jdbcType=VARCHAR},
          #{menuCode,jdbcType=VARCHAR},
          #{menuIcon,jdbcType=VARCHAR},
          #{menuUrl,jdbcType=VARCHAR},
          #{requestUri,jdbcType=VARCHAR},
          #{menuLevel,jdbcType=INTEGER},
          #{sortIndex,jdbcType=INTEGER},
          #{parentMenu.id,jdbcType=BIGINT},
          #{sysModule.id,jdbcType=BIGINT},
          #{sysSystem.id,jdbcType=BIGINT},
          #{enabled,jdbcType=INTEGER},
          #{description,jdbcType=VARCHAR},
          NOW(),
          NOW(),
          0
        )
    </insert>
    <!--修改系统菜单-->
    <update id="update" parameterType="com.yiwei.ywt.sys.menu.model.SysMenu">
        T_SYS_MENU
        UPDATE
        <set>
            <if test="menuName !=null and menuName !=''">MENU_NAME=#{menuName,jdbcType=VARCHAR},</if>
            <if test="menuCode !=null and menuCode !=''">MENU_CODE=#{menuCode,jdbcType=VARCHAR},</if>
            <if test="menuIcon !=null and menuIcon !=''">MENU_ICON=#{menuIcon,jdbcType=VARCHAR},</if>
            <if test="menuLevel !=null ">MENU_LEVEL= #{menuLevel,jdbcType=INTEGER},</if>
            <if test="sortIndex !=null ">SORT_INDEX=#{sortIndex,jdbcType=INTEGER},</if>
            <if test="parentMenu !=null">
              <if test="parentMenu.id !=null">PARENT_ID=#{parentMenu.id,jdbcType=INTEGER},</if>
            </if>
            <if test="sysModule !=null">
              <if test="sysModule.id !=null ">MODULE_ID=#{sysModule.id,jdbcType=INTEGER},</if>
            </if>
            <if test="sysSystem !=null">
              <if test="sysSystem.id !=null ">SYSTEM_ID=#{sysSystem.id,jdbcType=INTEGER},</if>
            </if>
            <if test="enabled !=null ">ENABLED=#{enabled,jdbcType=INTEGER},</if>
            <if test="description !=null and description !=''">DESCRIPTION=#{description,jdbcType=VARCHAR},</if>
            MENU_URL=#{menuUrl,jdbcType=VARCHAR},
            LAST_UPDATE_TIME=NOW()
        </set>
        WHERE DEL_FLAG = 0
        AND ID = #{id, jdbcType=BIGINT}
    </update>

    <!--删除系统菜单-->
    <update id="delete" >
        UPDATE
          T_SYS_MENU
        SET
          DEL_FLAG = 1
        WHERE DEL_FLAG = 0
        AND ID = #{id, jdbcType=BIGINT}
    </update>

</mapper>