<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiwei.ywt.businessProcess.FileErrorDeclaration.mapper.FileErrorMapper">

    <insert id="insert" parameterType="com.yiwei.ywt.businessProcess.FileErrorDeclaration.model.FileErrorInfo">
        insert into T_FILE_ERROR_INFO (FAMILY_CODE, USER_WATER_ADDRESS,THE_LINKMAN,
                            MOBILE_PHONE,ERROR_DESCRIPTION_ACCESSORY_URL, PAPER_ACCESSORY_URL,
                            OTHER_ACCESSORY_URL, CHECK_CODE,CREATE_TIME,
                            LAST_UPDATE_TIME, DESCRIPTION, ENABLED, DEL_FLAG
                           )
        values (#{familyCode,jdbcType=VARCHAR}, #{useWaterAddress,jdbcType=VARCHAR},#{theLinkman,jdbcType=VARCHAR},
                #{mobilePhone,jdbcType=VARCHAR},#{errorDescriptionAccessoryUrl,jdbcType=VARCHAR}, #{papersAccessoryUrl,jdbcType=VARCHAR},
                 #{otherAccessoryUrl,jdbcType=VARCHAR}, #{checkCode,jdbcType=VARCHAR},now(),
                now(), #{description,jdbcType=VARCHAR},1,0
                )
    </insert>

</mapper>