<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiwei.ywt.businessProcess.waterNatureChange.mapper.WaterNatureChangeMapper">
  <resultMap id="BaseResultMap" type="com.yiwei.ywt.businessProcess.waterNatureChange.model.WaterNatureChange">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="FAMILY_NUMBER" jdbcType="VARCHAR" property="familyNumber" />
    <result column="TRANSACTOR" jdbcType="VARCHAR" property="transactor" />
    <result column="TRANSACTOR_MOBILE" jdbcType="VARCHAR" property="transactorMobile" />
    <result column="APPLY_REASON" jdbcType="VARCHAR" property="applyReason" />
    <result column="ID_CARD_IMAGE" jdbcType="VARCHAR" property="idCardImage" />
    <result column="PEOPLE_AUTOGRAPH_IMAGE" jdbcType="VARCHAR" property="peopleAutographImage" />
    <result column="OTHER_IMAGE" jdbcType="VARCHAR" property="otherImage" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="ENABLED" jdbcType="INTEGER" property="enabled" />
    <result column="DEL_FLAG" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, FAMILY_NUMBER, TRANSACTOR, TRANSACTOR_MOBILE, APPLY_REASON, ID_CARD_IMAGE, PEOPLE_AUTOGRAPH_IMAGE, 
    OTHER_IMAGE, CREATE_TIME, LAST_UPDATE_TIME, DESCRIPTION, ENABLED, DEL_FLAG
  </sql>
  <insert id="insert" parameterType="com.yiwei.ywt.businessProcess.waterNatureChange.model.WaterNatureChange">
    insert into t_water_nature_change (FAMILY_NUMBER, TRANSACTOR,
      TRANSACTOR_MOBILE, APPLY_REASON, ID_CARD_IMAGE, 
      PEOPLE_AUTOGRAPH_IMAGE, OTHER_IMAGE, CREATE_TIME, 
      LAST_UPDATE_TIME, DESCRIPTION, ENABLED, 
      DEL_FLAG)
    values (#{familyNumber,jdbcType=VARCHAR}, #{transactor,jdbcType=VARCHAR},
      #{transactorMobile,jdbcType=VARCHAR}, #{applyReason,jdbcType=VARCHAR}, #{idCardImage,jdbcType=VARCHAR}, 
      #{peopleAutographImage,jdbcType=VARCHAR}, #{otherImage,jdbcType=VARCHAR},
      now(),now(), #{description,jdbcType=VARCHAR},1,0)
  </insert>

  <select id="selectByFamilyNumber" resultMap="BaseResultMap">
        select FAMILY_NUMBER,TRANSACTOR,TRANSACTOR_MOBILE,APPLY_REASON from t_water_nature_change where FAMILY_NUMBER = #{familyNumber,jdbcType=VARCHAR} and DEL_FLAG = 0
  </select>
</mapper>