<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiwei.ywt.businessProcess.residentTransfer.mapper.ResidentTransferMapper" >
  <resultMap id="BaseResultMap" type="com.yiwei.ywt.businessProcess.residentTransfer.model.ResidentTransfer" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="FAMILY_NUMBER" property="familyNumber" jdbcType="VARCHAR" />
    <result column="WATER_ADDRESS" property="waterAddress" jdbcType="VARCHAR" />
    <result column="NEW_FAMILY_NAME" property="newFamilyName" jdbcType="VARCHAR" />
    <result column="PROPERTY_ADDRESS" property="propertyAddress" jdbcType="VARCHAR" />
    <result column="NEW_OWNER_MOBILE" property="newOwnerMobile" jdbcType="VARCHAR" />
    <result column="ID_TYPE" property="idType" jdbcType="VARCHAR" />
    <result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
    <result column="OWNER_CERTIFICATENO" property="ownerCertificateno" jdbcType="VARCHAR" />
    <result column="OTHER" property="other" jdbcType="VARCHAR" />
    <result column="ID_CARD_IMAGE" property="idCardImage" jdbcType="VARCHAR" />
    <result column="OWNER_CERTIFICATE_IMAGE" property="ownerCertificateImage" jdbcType="VARCHAR" />
    <result column="MANAGER_ID_CARD_IMAGE" property="managerIdCardImage" jdbcType="VARCHAR" />
    <result column="MOBILE_CODE" property="mobileCode" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FAMILY_NUMBER, WATER_ADDRESS,NEW_FAMILY_NAME,PROPERTY_ADDRESS, NEW_OWNER_MOBILE,
    ID_TYPE, ID_CARD, OWNER_CERTIFICATENO, OTHER, ID_CARD_IMAGE, OWNER_CERTIFICATE_IMAGE, 
    MANAGER_ID_CARD_IMAGE, MOBILE_CODE, CREATE_TIME, LAST_UPDATE_TIME, DESCRIPTION, ENABLED, 
    DEL_FLAG
  </sql>
  <insert id="insert" parameterType="com.yiwei.ywt.businessProcess.residentTransfer.model.ResidentTransfer" >
    insert into `t_resident_transfer` (FAMILY_NUMBER,WATER_ADDRESS,NEW_FAMILY_NAME,
      PROPERTY_ADDRESS, NEW_OWNER_MOBILE,
      ID_TYPE, ID_CARD, OWNER_CERTIFICATENO, 
      OTHER, ID_CARD_IMAGE, OWNER_CERTIFICATE_IMAGE, 
      MANAGER_ID_CARD_IMAGE, MOBILE_CODE, CREATE_TIME, 
      LAST_UPDATE_TIME, DESCRIPTION, ENABLED, 
      DEL_FLAG)
    values (
      #{familyNumber,jdbcType=VARCHAR},
      #{waterAddress,jdbcType=VARCHAR},
      #{newFamilyName,jdbcType=VARCHAR},
      #{propertyAddress,jdbcType=VARCHAR},
      #{newOwnerMobile,jdbcType=VARCHAR},
      #{idType,jdbcType=VARCHAR},
      #{idCard,jdbcType=VARCHAR},
      #{ownerCertificateno,jdbcType=VARCHAR},
      #{other,jdbcType=VARCHAR},
      #{idCardImage,jdbcType=VARCHAR},
      #{ownerCertificateImage,jdbcType=VARCHAR},
      #{managerIdCardImage,jdbcType=VARCHAR},
      #{mobileCode,jdbcType=VARCHAR},
      now(),now(), #{description,jdbcType=VARCHAR},1,0
      )
  </insert>

  <select id="selectByIdCard" resultMap="BaseResultMap">
        select FAMILY_NUMBER,NEW_FAMILY_NAME,ID_CARD from t_resident_transfer where ID_CARD = #{idCard,jdbcType=VARCHAR} and DEL_FLAG = 0
  </select>
</mapper>