<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiwei.ywt.user.dao.SysUserMapper">
  <sql id="Base_Column_List">
    ID, ACCOUNT, PASSWORD, SYSTEM_ID, ORG_ID, EMPLOYEE_ID, ENABLED, LAST_LOGIN_IP, LAST_LOGIN_TIME,
    CREATE_TIME, LAST_UPDATE_TIME, DEL_FLAG, IS_REAL, NAME, IDCARD, MOBILE, TEL, E_MAIL,
    TYPE, SEX, ADDRESS, EMPLOYEE_HEAD, DESCRIPTION, PRO_CODE, PRO_NAME, CITY_CODE, CITY_NAME,
    COUNTY_CODE, COUNTY_NAME, DEPT_ID, DEPT_NAME, ORG_NAME, CATEGORY, ORG_TYPE, ORG_DUTIES,
    UNIT_ID, UNIT_NAME, UNIT_DUTIES, UNIT_ADDRESS, EDUCATION, PROFESSIONAL, WORK_CONTENT,
    EVIDENCED, SUBJECT, POLITICAL, POLITICAL_DESC, NATIONAL, NATIONAL_DESC, STATUS, ANNEX_PATH,
    EXPERTS_ID, CREATE_ID, OTHER_ORG, QK_UNIT_NAME, FILE_INFO_ID
  </sql>
  <select id="selectList"  resultType="com.yiwei.ywt.user.model.SysUser">
    select
    <include refid="Base_Column_List" />
    from t_sys_user limit #{pageIndex},#{pageNumber}
  </select>
  <insert id="insert" parameterType="com.yiwei.ywt.user.model.SysUser">
    insert into t_sys_user (ID, ACCOUNT, PASSWORD, 
      SYSTEM_ID, ORG_ID, EMPLOYEE_ID, 
      ENABLED, LAST_LOGIN_IP, LAST_LOGIN_TIME, 
      CREATE_TIME, LAST_UPDATE_TIME, DEL_FLAG, 
      IS_REAL, NAME, IDCARD, MOBILE, 
      TEL, E_MAIL, TYPE, SEX, 
      ADDRESS, EMPLOYEE_HEAD, DESCRIPTION, 
      PRO_CODE, PRO_NAME, CITY_CODE, 
      CITY_NAME, COUNTY_CODE, COUNTY_NAME, 
      DEPT_ID, DEPT_NAME, ORG_NAME, 
      CATEGORY, ORG_TYPE, ORG_DUTIES, 
      UNIT_ID, UNIT_NAME, UNIT_DUTIES, 
      UNIT_ADDRESS, EDUCATION, PROFESSIONAL, 
      WORK_CONTENT, EVIDENCED, SUBJECT, 
      POLITICAL, POLITICAL_DESC, NATIONAL, 
      NATIONAL_DESC, STATUS, ANNEX_PATH, 
      EXPERTS_ID, CREATE_ID, OTHER_ORG, 
      QK_UNIT_NAME, FILE_INFO_ID)
    values (#{id,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{systemId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, #{employeeId,jdbcType=BIGINT}, 
      #{enabled,jdbcType=BIT}, #{lastLoginIp,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT}, 
      #{isReal,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{eMail,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{sex,jdbcType=BIT}, 
      #{address,jdbcType=VARCHAR}, #{employeeHead,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{proCode,jdbcType=VARCHAR}, #{proName,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{cityName,jdbcType=VARCHAR}, #{countyCode,jdbcType=VARCHAR}, #{countyName,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=BIGINT}, #{deptName,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{category,jdbcType=INTEGER}, #{orgType,jdbcType=INTEGER}, #{orgDuties,jdbcType=VARCHAR}, 
      #{unitId,jdbcType=BIGINT}, #{unitName,jdbcType=VARCHAR}, #{unitDuties,jdbcType=VARCHAR}, 
      #{unitAddress,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{professional,jdbcType=VARCHAR}, 
      #{workContent,jdbcType=VARCHAR}, #{evidenced,jdbcType=VARCHAR}, #{subject,jdbcType=INTEGER}, 
      #{political,jdbcType=VARCHAR}, #{politicalDesc,jdbcType=VARCHAR}, #{national,jdbcType=VARCHAR}, 
      #{nationalDesc,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{annexPath,jdbcType=VARCHAR}, 
      #{expertsId,jdbcType=BIGINT}, #{createId,jdbcType=BIGINT}, #{otherOrg,jdbcType=VARCHAR}, 
      #{qkUnitName,jdbcType=VARCHAR}, #{fileInfoId,jdbcType=VARCHAR})
  </insert>



</mapper>