<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiwei.ywt.businessProcess.checkWaterMeter.mapper.CheckWaterMeterMapper" >
  <resultMap id="BaseResultMap" type="com.yiwei.ywt.businessProcess.checkWaterMeter.model.CheckWaterMeter" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="FAMILY_NUMBER" property="familyNumber" jdbcType="VARCHAR" />
    <result column="CHECK_WATER_METER_REASON" property="checkWaterMeterReason" jdbcType="VARCHAR" />
    <result column="TRANSACTOR" property="transactor" jdbcType="VARCHAR" />
    <result column="TRANSACTOR_MOBILE" property="transactorMobile" jdbcType="VARCHAR" />
    <result column="ID_CARD_IMAGE" property="idCardImage" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FAMILY_NUMBER, CHECK_WATER_METER_REASON, TRANSACTOR, TRANSACTOR_MOBILE, ID_CARD_IMAGE,
    CREATE_TIME, LAST_UPDATE_TIME, DESCRIPTION, ENABLED, DEL_FLAG
  </sql>
  <insert id="insert" parameterType="com.yiwei.ywt.businessProcess.checkWaterMeter.model.CheckWaterMeter" >
    insert into t_check_water_meter (FAMILY_NUMBER, CHECK_WATER_METER_REASON,
      TRANSACTOR, TRANSACTOR_MOBILE, ID_CARD_IMAGE, 
      CREATE_TIME, LAST_UPDATE_TIME, DESCRIPTION, 
      ENABLED, DEL_FLAG)
    values (
    #{familyNumber,jdbcType=VARCHAR},
    #{checkWaterMeterReason,jdbcType=VARCHAR},
    #{transactor,jdbcType=VARCHAR},
    #{transactorMobile,jdbcType=VARCHAR},
    #{idCardImage,jdbcType=VARCHAR},
      now(),now(), #{description,jdbcType=VARCHAR},1,0)
  </insert>
  <select id="selectByTransactorMobile" resultMap="BaseResultMap">
        select FAMILY_NUMBER,TRANSACTOR,TRANSACTOR_MOBILE from t_check_water_meter where TRANSACTOR_MOBILE = #{transactorMobile,jdbcType=VARCHAR} and DEL_FLAG = 0
  </select>
</mapper>