<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiwei.ywt.sys.role.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.yiwei.ywt.sys.role.model.SysRole">
        <id column="ID" jdbcType="BIGINT" property="id" />
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
        <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
        <result column="ENABLED" jdbcType="INTEGER" property="enabled" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
        <result column="DEL_FLAG" jdbcType="INTEGER" property="delFlag" />
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
        <result column="ROLE_MENUS" jdbcType="VARCHAR" property="roleMenus" />
    </resultMap>

    <!-- add SysRole-->
    <insert id="insert" parameterType="com.yiwei.ywt.sys.role.model.SysRole" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
          T_ROLE (ROLE_NAME, ROLE_CODE, ENABLED, DESCRIPTION, CREATE_TIME, LAST_UPDATE_TIME, DEL_FLAG,ROLE_MENUS)
        VALUES (#{roleName, jdbcType=VARCHAR}, #{roleCode, jdbcType=VARCHAR}, #{enabled, jdbcType=VARCHAR},
                #{description, jdbcType=VARCHAR},
                NOW(), NOW(), 0,#{roleMenus, jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.yiwei.ywt.sys.role.model.SysRole">
        UPDATE
          T_ROLE
        <set>
            <if test="roleName != null and roleName != ''">ROLE_NAME = #{roleName, jdbcType=VARCHAR},</if>
            <if test="roleCode != null and roleCode != ''">ROLE_CODE = #{roleCode, jdbcType=VARCHAR},</if>
            <if test="enabled != null">ENABLED = #{enabled, jdbcType=TINYINT},</if>
            <if test="description != null">DESCRIPTION = #{description, jdbcType=VARCHAR},</if>
            <if test="roleMenus != null">ROLE_MENUS = #{roleMenus, jdbcType=VARCHAR},</if>
            LAST_UPDATE_TIME = NOW()
        </set>
        WHERE DEL_FLAG = 0
          AND ENABLED = 1
          AND ID = #{id, jdbcType=BIGINT}
    </update>

    <update id="delete">
        UPDATE
          T_ROLE
        SET
          DEL_FLAG = 1
        WHERE DEL_FLAG = 0
          AND ID = #{id, jdbcType=BIGINT}
    </update>

    <update id="enableEntity">
        UPDATE
        T_ROLE
        SET
        ENABLED = 1
        WHERE ID = #{id, jdbcType=BIGINT}
    </update>

    <update id="disableEntity">
        UPDATE
        T_ROLE
        SET
        ENABLED = 0
        WHERE ID = #{id, jdbcType=BIGINT}
    </update>

    <select id="getEntityById" resultMap="BaseResultMap">
        select ID,ROLE_NAME, ROLE_CODE, ENABLED, DESCRIPTION, CREATE_TIME, LAST_UPDATE_TIME, DEL_FLAG,ROLE_MENUS
        from T_ROLE
        where
          DEL_FLAG = 0
          AND  ENABLED = 1
          AND ID = #{id, jdbcType=BIGINT}

    </select>


</mapper>