<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiwei.ywt.sys.role.dao.SysRoleMapper">

    <!-- add SysRole-->
    <insert id="insert" parameterType="com.yiwei.ywt.sys.role.model.SysRole" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
          T_SYS_ROLE (ROLE_NAME, ROLE_CODE, ENABLED, DESCRIPTION, SYSTEM_ID,DEFAULT_MODULE_ID, CREATE_TIME, LAST_UPDATE_TIME, DEL_FLAG)
        VALUES (#{roleName, jdbcType=VARCHAR}, #{roleCode, jdbcType=VARCHAR}, #{enabled, jdbcType=TINYINT},
                #{description, jdbcType=VARCHAR}, #{sysSystem.id, jdbcType=BIGINT}, #{defaultModuleId, jdbcType=BIGINT},
                NOW(), NOW(), 0)
    </insert>

    <update id="update" parameterType="com.yiwei.ywt.sys.role.model.SysRole">
        UPDATE
          T_SYS_ROLE
        <set>
            <if test="roleName != null and roleName != ''">ROLE_NAME = #{roleName, jdbcType=VARCHAR},</if>
            <if test="roleCode != null and roleCode != ''">ROLE_CODE = #{roleCode, jdbcType=VARCHAR},</if>
            <if test="enabled != null">ENABLED = #{enabled, jdbcType=TINYINT},</if>
            <if test="description != null">DESCRIPTION = #{description, jdbcType=VARCHAR},</if>
            <if test="sysSystem != null">
                <if test="sysSystem.id != null">SYSTEM_ID = #{sysSystem.id, jdbcType=BIGINT},</if>
            </if>
            LAST_UPDATE_TIME = NOW()
        </set>
        WHERE DEL_FLAG = 0
          AND ID = #{id, jdbcType=BIGINT}
    </update>

    <update id="delete">
        UPDATE
          T_SYS_ROLE
        SET
          DEL_FLAG = 1
        WHERE DEL_FLAG = 0
          AND ID = #{id, jdbcType=BIGINT}
    </update>

    <update id="enableEntity">
        UPDATE
        T_SYS_ROLE
        SET
        ENABLED = 1
        WHERE ID = #{id, jdbcType=BIGINT}
    </update>

    <update id="disableEntity">
        UPDATE
        T_SYS_ROLE
        SET
        ENABLED = 0
        WHERE ID = #{id, jdbcType=BIGINT}
    </update>


</mapper>